/* .portfolio-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin: 1rem;
  font-weight: 300;
  background-color: #3dc0b0;
  color: white;
}

.project-title {
  padding: 16px 24px;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}

.item-desc {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  font-size: .75rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.25rem;
}

.item-link {
  padding: 0 0 .75rem;
  display: flex;
  justify-content: space-around;
  font-size: .875rem;
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
} */

.portfolio-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  border-radius: 2px;
  float: inherit;
  transition: box-shadow 0.25s;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  width: 12rem;
  margin: 1rem 1rem;
  background-color: #3dc0b0;
  color: white;
}

@media (max-width: 425px) {
  .portfolio-item {
    width: 15rem;
  }
}

.portfolio-item:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.project-title {
  flex: 1 1;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 425px) {
  .project-title {
    font-size: 1.25rem;
  }
}

.item-desc {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.25rem;
}

@media (max-width: 425px) {
  .item-desc {
    font-size: 0.875rem;
  }
}

.portfolio-item__icon {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

.portfolio-item__icon svg {
  margin: 0 0.25rem;
}

.item-link {
  padding: 0 0 0.75rem;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  font-size: 0.875rem;
  font-weight: 400;
}

.item-link a {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
}

.item-link a:hover {
  cursor: pointer;
  border-bottom: 2px solid inherit;
}
